@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,700&display=swap');

@font-face {
  font-family: 'candara';
  src: url('./assets/font/candara.ttf') format('truetype');
}

@font-face {
  font-family: 'candaralight';
  font-weight: 300;
  src: url('./assets/font/candaralight.ttf') format('truetype');
}

@font-face {
  font-family: 'SCHLBKB';
  src: url('./assets/font/SCHLBKB.TTF');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #f8ead0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-stop {
  display: none;
}

body {
  background-color: #f8ead0;
  color: #000000;
  font-family: 'candaralight', sans-serif;
  font-style: normal;
  font-weight: 600;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

.main-container {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg-top.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 0px 50px; */
}

.content-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/bg-center.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.remember-section img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.remember-section {
  position: relative;
  width: 71.206rem;
  padding-left: 50px;
  padding-right: 50px;
}

.main-section {
  display: grid;
  place-content: center;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
  margin-top: 2rem;
}

.language-button {
  border: none;
  background-color: transparent;
  margin-right: 7rem;
  margin-bottom: 1.25rem;
}

.language-selector {
  position: relative;
  width: 6.813rem;
  align-self: flex-end;
  /* margin-right: 1rem; */
  transition: none;
}

.title-section {
  position: relative;
}

.title-description {
  position: relative;
}

.title-img {
  width: 64.294rem;
  height: 15.791rem;
}

.title-description {
  position: absolute;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-align: end;
  color: #322e2e;
  right: 3rem;
  /* margin-right: 2.981rem; */
}

.title-description:lang(ru) {
  font-size: 1.3rem;
  bottom: 0.19rem;
}

.title-description:lang(en) {
  font-size: 1.3rem;
  bottom: -1.9rem;
}

.portrait-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.813rem;
}

.portrait-section:lang(en) {
  /*  margin-top: 4.688rem; */
  margin-top: 7rem;
}

.portrait-section:lang(ru) {
  margin-top: 4rem;
}

.butterfly-img {
  display: block;
  position: absolute;
  width: 15.104rem;
  height: 14.564rem;
  top: -7rem;
  left: -4rem;
}

.portrait-img {
  width: 58.556rem;
  height: 78.173rem;
}

#memory-msg-container {
  width: 54rem;
  margin-bottom: 5.813rem;
  padding-left: 0rem;
  padding-right: 0rem;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'SCHLBKB', sans-serif;
  font-size: 4.125rem;
  color: #c73e3e;
  font-weight: 400;
  margin-left: 9.955rem;
  line-height: 1;
}

button {
  cursor: pointer !important;
}

.msgs-container {
  display: flex;
  flex-direction: column;
  margin-top: 7.5rem;
  margin: 7.5rem 0 5rem 0;
}

.msg-subcontainer {
  display: flex;
  flex-wrap: wrap;
}

.msg-subcontainer-left {
  flex-direction: row;
}

.msg-subcontainer-right {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.stickers-img-container {
  display: flex;
  align-items: center;
  width: 8.386rem;
}

.msg-subcontainer-right > .stickers-img-container {
  justify-content: flex-end;
  margin-left: 0.97rem;
}

.msg-subcontainer-left > .stickers-img-container {
  justify-content: flex-start;
  margin-right: 1.14rem;
}

.sticker-img {
  display: block;
}

.msg-description {
  width: 35rem;
  display: flex;
  flex-direction: column;
}

.msg-description p {
  font-size: 1.875rem;
}

.msg-date {
  order: 0;
  margin-bottom: 1.25rem;
  font-style: italic;
  letter-spacing: 0.05em;
}

.msg-name {
  order: 2;
  text-align: end;
  font-style: italic;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  letter-spacing: 0.05em;
}

.msg-message {
  max-width: 35rem;
  width: fit-content;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  order: 1;
  margin-bottom: 3.813rem;
  color: #292929;
}

.asterisk-divider {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3.188rem;
  margin-bottom: 3.5rem;
  margin-left: 9.625rem;
}

.form-submit-button,
.load-more-msg-button,
.sticker-button {
  background-color: transparent;
  border: none;
}

.load-more-msg-img,
.load-more-msg-button {
  width: 14.614rem;
  height: 2.55rem;
}

.load-more-msg-button {
  margin-left: 9.464rem;
}

.bear-img {
  display: block;
  width: 5.744rem;
  height: 7.56rem;
}

.flower-img {
  width: 5.051rem;
  height: 6.62rem;
}

.candy-img {
  width: 8.386rem;
  height: 6.277rem;
}

.candle-img {
  height: 7.56rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-img {
  width: 70.618rem;
  height: 0.188rem;
}

.form-container {
  position: relative;
  left: -3.5rem;
  width: 40.213rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 3.125rem;
}

.field {
  display: flex;
  align-items: flex-start;
}

label {
  min-width: 78px;
  font-size: 1.625rem;
  font-style: italic;
  margin-right: 2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column; /* stack input and error */
  width: 100%;
}

.input-wrapper:has(input) {
  height: 90px;
}

.input-wrapper:has(textarea) {
  height: 189px;
}

.text-input {
  width: 100%;
  font-size: 1.625rem;
  background-color: transparent;
}

.text-input {
  font-family: 'candaralight', sans-serif;
  font-weight: 600;
  appearance: none;
  background: transparent;
  border: 1.5px solid #000000;
  color: #000000;
  padding: 10px 12px;
  border-radius: 2px;
  line-height: 1.5;
  transition: border-color 180ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 180ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 180ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input::placeholder {
  color: #000000;
}

.text-input:focus {
  outline: none;
  border-color: #000000;
}

.input-invalid,
.message-invalid {
  border: 1.7px solid #c73e3e !important;
}

.stickers-invalid {
  border: 1.7px solid #c73e3e !important;
}

@keyframes fadeInError {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutError {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.invalid-stickers {
  color: #c73e3e;
  font-size: 0.8rem;
  margin-top: 5px;
  position: absolute;
}

.invalid-input,
.invalid-textarea {
  height: 19.5px;
  color: #c73e3e;
  font-family: 'candara', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  opacity: 0;
  animation: fadeInError 0.25s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.invalid-input.removing,
.invalid-textarea.removing {
  animation: fadeOutError 0.15s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

textarea {
  resize: none;
  min-height: 200px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.form-submit-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.2rem;
  margin-left: 110px;
}

.stickers {
  display: flex;
}

.stickers-input {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  border: 2px solid transparent;
}

.submit-button-img {
  width: 9.219rem;
}

.sticker-button {
  width: 5.25rem;
  height: 4.894rem;
  cursor: pointer !important;
  display: grid;
  place-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.init-sticker,
.hover-sticker {
  transition: all 0.3s ease;
}

.init-sticker {
  transform: scale(1);
  opacity: 1;
}

.hover-sticker {
  transform: scale(1.05);
  opacity: 0;
}

.hover-sticker.selected-sticker {
  opacity: 1;
}

.sticker-candy {
  width: 5.051rem;
  height: 3.78rem;
}

.sticker-candy-color {
  display: none;
}

.sticker-candle {
  height: 4.509rem;
}

.sticker-candle-color {
  display: none;
}

.sticker-flower {
  width: 2.991rem;
  height: 3.971rem;
}

.sticker-flower-color {
  display: none;
}

.sticker-bear {
  width: 55px;
  height: 72px;
}

.sticker-bear-color {
  display: none;
}

.glasses-container {
  position: absolute;
  width: 40.213rem;
  height: 43.057rem;
  left: -35rem;
  bottom: -18rem;
  z-index: 3;
}

.glasses-img {
  width: 100%;
  height: 100%;
  background-image: url('./assets/ochki.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.scroll-active-left {
  animation: 1s linear 0s forwards slideLeft;
}

.stamp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.177rem;
  align-items: center;
  justify-content: center;
  margin-top: 4.063rem;
}

.stamp-container p:nth-child(2) {
  margin-bottom: 0.3rem;
}

.soviet-union-img {
  width: 4.854rem;
}

.stamp-copyright,
.stamp-info {
  color: #292929;
}

.email-link {
  color: #e25c5c;
  text-decoration: underline;
}

/* FOOTER */
.section-navbook {
  width: 100%;
  position: relative;
  padding-top: 6rem;
  background-image: url('./assets/bg-footer.webp');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.8rem;
  transform: translateY(19rem);
  z-index: 2;
}

.pages {
  position: absolute;
  display: flex;
  /* bottom: 15px */
  /*  bottom: -19px; */
  bottom: 25px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -2vmin;
  z-index: 2;
  pointer-events: none;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.stories {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.gallery {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.my-granny {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.remember {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.map {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer !important;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 1367px) {
  .navbook {
    max-width: 1196px;
  }

  .pages {
    bottom: 0.75rem;
  }

  .pages .main {
    width: 196px;
    margin-left: 0rem;
    margin-top: 1.375rem;
  }

  .pages .milestones {
    width: 194px;
    margin-left: -55px;
    margin-top: 5.25rem;
  }

  .pages .stories {
    width: 187px;
    margin-left: -90px;
    margin-top: 0.4rem;
  }

  .pages .gallery {
    width: 215px;
    margin-top: 5.25rem;
    margin-left: -60px;
  }

  .pages .my-granny {
    width: 223px;
    margin-left: -120px;
    margin-top: 0.4rem;
  }

  .pages .remember {
    width: 207px;
    margin-top: 5.813rem;
    margin-left: -70px;
  }

  .pages .map {
    width: 183px;
    margin-top: 2.313rem;
    margin-left: -50px;
  }
}
