@media only screen and (max-width: 800px) {
  .language-container {
    height: auto;
    margin-top: 2vmin;
    z-index: 2;
  }

  .language-button {
    margin-right: 0rem;
    right: 40px;
  }

  .language-selector {
    width: 79px;
  }

  .remember-section {
    width: 100%;
    max-width: 100%;
    padding: 0rem;
  }

  .title-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-img {
    /*  width: 90%; */
    width: 94vmin;
    height: 100%;
  }

  .title-description {
    margin-right: 0rem;
    right: 5vmin;
  }

  .title-description:lang(ru) {
    font-size: 2vw;
  }

  .title-description:lang(en) {
    font-size: 2.1vw;
    bottom: -4vmin;
  }

  .portrait-section:lang(en) {
    margin-top: 11.7vmin;
  }

  .portrait-section:lang(ru) {
    margin-top: 8vmin;
  }

  .portrait-section {
    margin-bottom: 12vmin;
  }

  .butterfly-img {
    width: 28vmin;
    height: auto;
    left: -2vmin;
    top: -9vmin;
  }

  .portrait-img {
    width: 93vmin;
    height: 100%;
  }

  #memory-msg-container {
    width: 81%;
    margin-bottom: 10vmin;
  }

  h2 {
    font-size: 8vw;
    margin-left: 0rem;
  }

  .msgs-container {
    margin-top: 14vmin;
    margin-bottom: 11vmin;
  }

  .msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .msg-subcontainer {
    width: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 11vmin;
  }

  .msg-subcontainer-right > .stickers-img-container {
    justify-content: center;
    margin-left: 0rem;
  }

  .msg-subcontainer-left > .stickers-img-container {
    justify-content: center;
    margin-right: 0rem;
  }

  .msgs-container .msg-subcontainer img {
    margin: 0rem;
  }

  .msg-description {
    width: 81vmin;
  }

  .msg-description p {
    font-size: 6vw;
  }

  .msg-date {
    order: 0;
  }

  .msg-name {
    width: 100%;
    order: 1;
    align-self: flex-start;
    margin-bottom: 6vmin;
  }

  .msg-message {
    max-width: auto;
    width: 100%;
    order: 2;
    margin-bottom: 0rem;
  }

  .load-more-msg-img,
  .load-more-msg-button {
    width: 32vmin;
    height: auto;
  }

  .load-more-msg-button {
    margin-left: 0rem;
    align-self: center;
  }

  .bear-img {
    width: 12vmin;
    height: auto;
  }

  .flower-img {
    width: 11vmin;
    height: auto;
  }

  .candy-img {
    width: 20vmin;
    height: auto;
  }

  .candle-img {
    height: 15.5vmin;
  }

  .asterisk-divider {
    margin: 7vmin 0;
    font-size: 5vw;
  }

  .line-img {
    width: 100vw;
    height: auto;
  }

  .form-container {
    width: 90%;
    gap: 4vmin 0vmin;
    left: 0rem;
  }

  .field {
    flex-direction: column;
    gap: 1vmin;
  }

  label,
  input,
  textarea,
  .text-input {
    font-size: 4.4vw;
  }

  textarea {
    min-height: 31vmin;
  }

  .input-wrapper:has(input) {
    height: 18vmin;
  }

  .input-wrapper:has(textarea) {
    height: 36vmin;
  }

  .invalid-input,
  .invalid-textarea {
    font-size: 3vw;
    margin-top: 0.9vmin;
    height: 100%;
  }

  .form-submit-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vmin;
    margin-top: 3vmin;
    margin-left: 0rem;
  }

  .sticker-button {
    width: 20vmin;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .stickers-input {
    justify-content: center;
    gap: 2vmin;
  }

  .sticker-candy {
    width: 17vmin;
    height: auto;
  }

  .sticker-candle {
    height: 12vmin;
    width: auto;
  }

  .sticker-flower {
    width: 10vmin;
    height: auto;
  }

  .sticker-bear {
    width: 9vmin;
    height: auto;
  }

  .submit-button-img {
    width: 25vmin;
    height: auto;
  }

  .glasses-container {
    display: none;
  }

  .stamp-container {
    gap: 1.7vmin;
    margin-top: 6vmin;
    align-items: center;
  }

  .stamp-container p:nth-child(2) {
    margin-bottom: 0.8vmin;
  }

  .soviet-union-img {
    width: 9vmin;
    height: auto;
  }

  .stamp-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .stamp-text p,
  .stamp-text a {
    font-size: 2vw;
  }

  /* FOOTER */

  .section-navbook {
    padding-top: 11vmin;
  }

  .menu {
    width: 100%;
    /*  margin-top: 31vmin; */
    margin-top: 14vmin;
  }

  .pages {
    margin-left: -5vmin;
    bottom: 4px;
    /* bottom: -21px; */
  }

  .navbook {
    max-width: 110vmin;
    width: 110vmin;
    margin-left: -9vmin;
  }

  .pages img {
    width: 18vmin;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .pages img:hover {
    width: 18vmin;
  }
}

@media only screen and (orientation: landscape) and (max-width: 800px) {
  .language-container {
    margin-top: 2vmax;
  }

  .title-img {
    width: 94vmax;
  }

  .title-description {
    right: 5vmax;
  }

  .title-description:lang(en) {
    bottom: -4vmax;
  }

  .portrait-section:lang(en) {
    margin-top: 11.7vmax;
  }

  .portrait-section:lang(ru) {
    margin-top: 8vmax;
  }

  .portrait-section {
    margin-bottom: 12vmax;
  }

  .butterfly-img {
    width: 28vmax;
    left: -2vmax;
    top: -9vmax;
  }

  .portrait-img {
    width: 93vmax;
  }

  #memory-msg-container {
    margin-bottom: 10vmax;
  }

  .msgs-container {
    margin-top: 14vmax;
    margin-bottom: 11vmax;
  }

  .msg-subcontainer {
    gap: 11vmax;
  }

  .msg-description {
    width: 81vmax;
  }

  .msg-name {
    margin-bottom: 6vmax;
  }

  .load-more-msg-img,
  .load-more-msg-button {
    width: 32vmax;
  }

  .bear-img {
    width: 12vmax;
  }

  .flower-img {
    width: 11vmax;
  }

  .candy-img {
    width: 20vmax;
  }

  .candle-img {
    height: 15.5vmax;
  }

  .asterisk-divider {
    margin: 7vmax 0;
  }

  .form-container {
    gap: 4vmax 0vmax;
  }

  .field {
    gap: 1vmax;
  }

  textarea {
    min-height: 31vmax;
  }

  .input-wrapper:has(input) {
    height: 18vmax;
  }

  .input-wrapper:has(textarea) {
    height: 36vmax;
  }

  .invalid-input,
  .invalid-textarea {
    margin-top: 0.9vmax;
  }

  .form-submit-container {
    gap: 6vmax;
    margin-top: 3vmax;
  }

  .sticker-button {
    width: 20vmax;
  }

  .stickers-input {
    gap: 4vmax;
  }

  .sticker-candy {
    width: 17vmax;
  }

  .sticker-candle {
    height: 12vmax;
  }

  .sticker-flower {
    width: 10vmax;
  }

  .sticker-bear {
    width: 9vmax;
  }

  .submit-button-img {
    width: 25vmax;
  }

  .stamp-container {
    gap: 1.7vmax;
    margin-top: 6vmax;
  }

  .stamp-container p:nth-child(2) {
    margin-bottom: 0.8vmax;
  }

  .soviet-union-img {
    width: 9vmax;
  }

  /* FOOTER */

  .section-navbook {
    padding-top: 11vmax;
  }

  .menu {
    margin-top: 14vmax;
  }

  .pages {
    margin-left: -5vmax;
  }

  .navbook {
    max-width: 110vmax;
    width: 110vmax;
    margin-left: -9vmax;
  }

  .pages img {
    width: 18vmax;
  }

  .pages img:hover {
    width: 18vmax;
  }

  .main {
    margin: -3vmax 0 0 5vmax;
  }

  .milestones {
    margin: 1vmax 0 0 -3vmax;
    height: 100%;
    z-index: 1;
  }

  .stories {
    margin: -4vmax 0 0 -6vmax;
    height: 100%;
  }

  .gallery {
    margin: 1vmax 0 0 -3vmax;
    height: 100%;
    z-index: 1;
  }

  .my-granny {
    margin: -4vmax 0 0 -6vmax;
  }

  .remember {
    margin: 1.5vmax 0 0 -4vmax;
  }

  .map {
    margin: -3vmax 0 0 -3vmax;
  }
}